<!-- meta things -->
<meta charset="utf-8"> 
<meta name="description" content="A webcomic">
<meta name="author" content="M.spicata">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4EC848MH6P"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4EC848MH6P');
</script>
<!-- title -->
<title>{{ page.title }}</title>
<!-- external files -->
<script src="/assets/js/xob_slides.js"></script>
<link rel="stylesheet" href="/assets/css/styles.css">