body {
  font-family: "Noto Mono", 'Courier New', Courier, monospace;
  padding: 4em;
  background-color: #182233;
  color: #f5f5f5;
}

h1 {
 color: #182233;
 background-color: #837dd8;
 padding: 0.5em 1em;
}

h2,h3,h4,h5 {
 color: #837dd8;
 border-left: 0.2em solid #837dd8;
 padding: 0.2em 0.5em;
}

a { color: #837dd8; }

a:visited { color: #9bc7eb; }

.footnote, .reversefootnote {
    background-color: #837dd8 !important;
    color: #182233 !important;
    padding: 0 0.5em !important;
}

.footnotes { padding: 1.5em 0; }
