:root {
    --text: #f7f9e3;
    --light: #e8e4b0;
    --lightmid: #d4c577;
    --mid: #c6a159;
    --darkmid: #ab7940;
    --dark: #784930;
    --bg: #4d2a21;
    --emone: #c3e2ee;
    --emtwo: #8ebedb;
    --emthree: #6a97c4;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
  }
  
  h2,h3,h4,h5 {
   color: var(--light);
   border-left: 0.2em solid var(--light);
   padding: 0.2em 0.5em;
  }
  
  a { color: var(--light); }
  
  a:visited { color: var(--emtwo); }
  
  em {
    color: var(--emone);
  }
  
  del {
    color: var(--darkmid);
  }
  
  .footnote, .reversefootnote {
      background-color: var(--light) !important;
      color: var(--bg) !important;
      padding: 0 0.5em !important;
  }
  
  .footnotes { padding: 1.5em 0; }
  
  header {
    background-color: var(--light);
    padding: 6em 5em;
    text-align: center;
    color: var(--bg);
  }
  
  .back {
    color: var(--bg) !important;
  }
  
  .main {
    padding: 2em 7em;
  }
  
  blockquote {
    border-left: solid 10px var(--light);
    border-radius: 5px;
    padding: 0.1em 0 0.1em 0.5em;
    background-color: var(--dark);
    margin: 1em 0;
  }
  
  footer {
    text-align: center;
  }
  
  img {
    display: block;
    width: auto;
    margin: auto;
    border-radius: 5px;
  }