---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{ "/assets/css/fun.css" | relative_url }}>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      {% if page.title %}
        <h1><a href="{{ site.url }}" class="footnote">↩</a>{{ page.title }}</h1>
      {% else %}
        <h1><a href="{{ site.url }}" class="footnote">↩</a>{{ page.name }}</h1>
      {% endif %}
    </header>
    <div>
      {{ content }}
    </div>
    <footer>
      <p><small>woah, this bottom bit changed! well, this is normally a piece of the html, but i edited the html. but it's cool because this doesn't actually impact any other pages because it is for a specific layout called fun. life is good :-)</small></p>
    </footer>
  </body>
</html>
